* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }
  body { 
    font: 13px Helvetica, Arial;
  }
  #app {
    background: #fff;
    width: auto;
    height: auto;
    display: flex;
    flex: 1 100%;
    flex-wrap: wrap;
  }
  aside {
    flex:1;
  }
  main {
    flex: 3;
  }

  #messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  #messages li { 
    padding: 5px 10px; 
  }
  #messages li:nth-child(odd) { 
    background: #eee; 
  }